.git
data/mysql-data/
data/project/
deploy/data/mysql-data/
deploy/data/project/
hubble/Application/Runtime
orion/orion
jupiter/conf/jupiter.json
orion/conf/app.conf


# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.swp

# system ignore
.DS_Store
Thumbs.db
