<script type="text/javascript">
    var pluginViewUrl = {{.pluginViewUrl}}
    var server = "http://" + {{.server}}
    var extensionInterfaceUrl = {{.extensionInterfaceUrl}}
    var updateDivId = {{.view.DockerfileView.ViewName}}
    var defaultProjectName = {{.DefaultProjectName}}
    var pluginTitle = {{i18n $.Lang $.view.DockerfileView.ViewName}}
</script>

<script src="http://{{.server}}/static/js/plugin_framework.js"></script>
<script src="http://{{.server}}/static/js/dockerfile_define.js"></script>

<div class="col-sm-10">
<h3>
    <span class="label label-primary">{{i18n $.Lang "SourceCode"}}</span>
</h3>
</div>
<div id="div_SourceCode" style="padding:0px">
    {{range $j, $PluginView:= .view.DockerfileView.PluginViews}}
        {{if eq "download_executable_source" $PluginView.PluginName}}
            <div class="panel panel-default col-sm-10">
                <input type="hidden" name="$$plugin" id="$$plugin" value="{{$PluginView.PluginName}}"/>
                <script src="http://{{$.server}}/static/js/custom/{{$PluginView.PluginName}}.js"></script>
                <div class="panel-body">
                    {{$PluginView.View | unescaped}}
                </div>
            </div>
        {{end}}
    {{end}}
</div>

<div class="col-sm-10">
<h3>
    <span class="label label-primary">{{i18n $.Lang "DockerfileConfig"}}</span>
</h3>
</div>
{{if endwith .view.DockerfileView.ViewName "Pipeline"}}

<div class="panel panel-default col-sm-10">
    <div class="panel-body">
        <div class="form-group">
            <input name="Cluster" type="hidden" value="default_cluster"/>
            <div id="div_ProjectName" class="form-group">
                <label for="project" class="col-sm-2 control-label">{{i18n .Lang "ProjectName"}}:</label>
                <div class="col-sm-10">
                    <input id="project" name="project" class="form-control" value='{{.project}}'/>
                    <input id="addOrUpdate" name="addOrUpdate" type="hidden" value="update"/>
                </div>
            </div>
            <div id="div_DefineDockerFileType" class="form-group">
                <label for="DefineDockerFileType" class="col-sm-2 control-label">{{i18n .Lang "DefineDockerFileType"}}:</label>
                <div class="col-sm-10">
                    <select id="DefineDockerFileType" class="form-control" name="DefineDockerFileType">
                        <option value="edit" {{if eq "edit" $.defineDockerFileType}}selected{{end}}>{{i18n .Lang "DefineByEdit"}}</option>
                        <option value="tool" {{if eq "tool" $.defineDockerFileType}}selected{{end}}>{{i18n .Lang "DefineByTool"}}</option>
                        <option value="download" {{if eq "download" $.defineDockerFileType}}selected{{end}}>{{i18n .Lang "DefineByDownload"}}</option>
                    </select>
                </div>
            </div>

            <div id="div_dockerfile_extension_plugins" class="form-group" style="display: none">
                <label for="DefineDockerFileType" class="col-sm-2 control-label">{{i18n .Lang "PluginType"}}:</label>
                <div class="col-sm-10">
                    <select id="dockerfile_extension_plugins" class="form-control" name="dockerfile_extension_plugins">
                        {{range $j, $plugin := $.dockerfilePlugins}}
                            <option value="{{$plugin}}">{{i18n $.Lang $plugin}}</option>
                        {{end}}
                    </select>
                    <br/>
                    <input id="btn_AddAction" class="btn btn-primary" type="button" value={{i18n .Lang "Add Action"}} onclick="addExtensionPlug('http://{{$.server}}', 'dockerfile_extension_plugins', '{{.view.DockerfileView.ViewName}}', 1)"/>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="col-sm-10">
    <h3>
        <span class="label label-primary" id="pluginTitle">{{i18n $.Lang $.view.DockerfileView.ViewName}}</span>
    </h3>
</div>
<div id="{{.view.DockerfileView.ViewName}}" style="padding:0px">
    {{range $j, $PluginView:= .view.DockerfileView.PluginViews}}
        <div class="panel panel-default col-sm-10">
            <input type="hidden" name="$$plugin" id="$$plugin" value="{{$PluginView.PluginName}}"/>
            <div class="panel-heading">
                {{i18n $.Lang $PluginView.PluginName}}
                <script src="http://{{$.server}}/static/js/custom/{{$PluginView.PluginName}}.js"></script>
                <div id="div_{{$PluginView.PluginName}}_btn" style='position:relative; float:right; right:0px'>
                    <span class='glyphicon glyphicon-chevron-up' onclick='movePluginUp(event)'></span>
                    <span class='glyphicon glyphicon-chevron-down' onclick='movePluginDown(event)'></span>
                    <span class='glyphicon glyphicon-remove' onclick='deletePlugin(event)'></span>
                </div>
            </div>
            <div class="panel-body">
                {{$PluginView.View | unescaped}}
            </div>
        </div>
    {{end}}
</div>


{{end}}







