aniso8601==1.1.0
ansible==2.1.0.0
beautifulsoup4==4.5.1
cffi==1.7.0
click==6.6
cryptography==1.4
enum34==1.1.6
Flask==0.11.1
idna==2.1
ipaddress==1.0.16
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mysql==0.0.1
MySQL-python==1.2.5
paramiko==2.0.1
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
python-dateutil==2.5.3
pytz==2016.4
PyYAML==3.11
qcloud-cos==3.3.5
redis==2.10.5
requests==2.10.0
six==1.10.0
SQLAlchemy==1.0.14
test==2.3.4.5
Werkzeug==0.11.10
